name: MacOS

# https://www.jeffgeerling.com/blog/2020/running-github-actions-workflow-on-schedule-and-other-events
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main

# https://stackoverflow.com/questions/66335225/how-to-cancel-previous-runs-in-the-pr-when-you-push-new-commitsupdate-the-curre#comment133398800_72408109
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  check_skip_flags_macos_latest:
    name: Check skip flags
    runs-on: macos-latest
    outputs:
      head-commit-message: ${{ steps.get_head_commit_message.outputs.headCommitMsg }}
    steps:
      - name: Get repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Print head git commit message
        id: get_head_commit_message
        run: echo "::set-output name=headCommitMsg::$(git show -s --format=%s)"

  build-macos:
    runs-on: macos-latest
    needs: check_skip_flags_macos_latest
    if: ${{ (!contains(needs.check_skip_flags_other_arch.outputs.head-commit-message, '[SKIP ALL]') }}
    # if: >
    #   ${{ (!contains(needs.check_skip_flags_macos_latest.outputs.head-commit-message, '[SKIP ALL]') &&
    #   !contains(needs.check_skip_flags_macos_latest.outputs.head-commit-message, '[SKIP MACOS]')) ||
    #    contains(needs.check_skip_flags_macos_latest.outputs.head-commit-message, '[ENABLE MACOS]') }}

    # if: ${{ !contains(github.event.head_commit.message, '[SKIP MACOS]') && !contains(github.event.workflow_run.head_commit.message, '[SKIP MACOS]') }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Print GitHub variables
      run: |
        echo "github.workflow: ${{ github.workflow }}"
        echo "github.ref: ${{ github.ref }}"
        echo "github.event.head_commit: ${{ github.event.head_commit }}"
        echo "github.event.head_commit.message: ${{ github.event.head_commit.message }}"
        echo "github.event.workflow_run.head_commit.message: ${{ github.event.workflow_run.head_commit.message }}"

    - name: Logging
      run: |
        echo "github.event:\n"
        echo "${{ toJSON(github.event) }}"

    - name: Print system information
      run: |
        sysctl -a | grep machdep.cpu
        sysctl -a | grep logical

    - name: Print OS information
      run: system_profiler SPSoftwareDataType

    - name: Install dependencies on macos-latest
      run: |
        brew install pkg-config cmake gcc python numpy
        brew list

    - name: Build ViSP from source
      run: |
        pwd
        echo $GITHUB_WORKSPACE
        GIT_ADDRESS=https://github.com/s-trinh/visp.git

        git clone -b feat_cnpy_big_endian_support --depth 1 ${GIT_ADDRESS} ${HOME}/visp
        cd ${HOME}/visp
        mkdir build && cd build

        cmake .. -DBUILD_APPS=OFF -DBUILD_DEMOS=OFF -DBUILD_EXAMPLES=OFF -DBUILD_TESTS=OFF -DBUILD_TUTORIALS=OFF -DBUILD_JAVA=OFF \
                 -DBUILD_MODULE_visp_java=OFF -DBUILD_MODULE_visp_java_binding=OFF
        cat ViSP-third-party.txt
        sudo make -j$(nproc) install

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release

    - name: Compile
      working-directory: build
      run: |
        make -j$(nproc)

    - name: Run
      working-directory: build
      run: |
        printf '\n\n===ViSP-images data with cnpy===\n'
        printf '\n\n**npz/cnpy/visp_npz_test_data_cnpy_LE.npz**\n'
        ./print_npz_simple -i visp_npz_test_data_cnpy_LE.npz

        printf '\n\n**npz/cnpy/visp_npz_test_data_cnpy_BE.npz**\n'
        ./print_npz_simple -i visp_npz_test_data_cnpy_BE.npz

        printf '\n\n**npz/numpy/visp_npz_test_data_numpy_LE.npz**\n'
        ./print_npz_simple -i visp_npz_test_data_numpy_LE.npz

        printf '\n\n**npz/numpy/visp_npz_test_data_numpy_BE.npz**\n'
        ./print_npz_simple -i visp_npz_test_data_numpy_BE.npz


        printf '\n\n===ViSP-images data with NumPy===\n'
        printf '\n\n**npz/cnpy/visp_npz_test_data_cnpy_LE.npz**\n'
        python print_npz.py -i visp_npz_test_data_cnpy_LE.npz

        printf '\n\n**npz/cnpy/visp_npz_test_data_cnpy_BE.npz**\n'
        python print_npz.py -i visp_npz_test_data_cnpy_BE.npz

        printf '\n\n**npz/numpy/visp_npz_test_data_numpy_LE.npz**\n'
        python print_npz.py -i visp_npz_test_data_numpy_LE.npz

        printf '\n\n**npz/numpy/visp_npz_test_data_numpy_BE.npz**\n'
        python print_npz.py -i visp_npz_test_data_numpy_BE.npz