name: Ubuntu-dep-apt

# https://www.jeffgeerling.com/blog/2020/running-github-actions-workflow-on-schedule-and-other-events
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main

# https://stackoverflow.com/questions/66335225/how-to-cancel-previous-runs-in-the-pr-when-you-push-new-commitsupdate-the-curre#comment133398800_72408109
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  check_skip_flags:
    name: Check skip flags
    runs-on: ubuntu-latest
    outputs:
      head-commit-message: ${{ steps.get_head_commit_message.outputs.headCommitMsg }}
    steps:
      - name: Get repo
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Print head git commit message
        id: get_head_commit_message
        run: echo "headCommitMsg=$(git show -s --format=%s)" >> $GITHUB_OUTPUT

  build:
    name: Build on ubuntu-latest
    runs-on: ubuntu-latest
    needs: check_skip_flags
    if: >-
      ${{
        (!contains(needs.check_skip_flags.outputs.head-commit-message, '[SKIP ALL]') &&
        !contains(needs.check_skip_flags.outputs.head-commit-message, '[SKIP UBUNTU-DEP-APT]')) ||
        contains(needs.check_skip_flags.outputs.head-commit-message, '[ENABLE UBUNTU-DEP-APT]')
      }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Get Head Commit Message
      id: get_head_commit_message
      run: |
        echo "HEAD_COMMIT_MESSAGE=$(git show -s --format=%s)" >> "$GITHUB_OUTPUT"

    - name: Print GitHub variables
      run: |
        echo "github.job: ${{ github.job }}"
        echo "github.workflow: ${{ github.workflow }}"
        echo "github.job-matrix.os: ${{ github.job }}-${{ matrix.os }}"
        echo "github.workflow-matrix.os: ${{ github.workflow }}-${{ matrix.os }}"
        echo "github.ref: ${{ github.ref }}"
        echo "github.event.head_commit: ${{ github.event.head_commit }}"
        echo "github.event.head_commit.message: ${{ github.event.head_commit.message }}"
        echo "github.event.workflow_run.head_commit.message: ${{ github.event.workflow_run.head_commit.message }}"

    - name: Logging
      run: |
        echo "github.event:\n"
        echo "${{ toJSON(github.event) }}"

    - name: Print system information
      run: lscpu

    - name: Print OS information
      run: lsb_release -a

    - name: Print compiler information
      run: dpkg --list | grep compiler

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y git build-essential cmake python3-numpy

    - name: Build ViSP from source
      run: |
        pwd
        echo $GITHUB_WORKSPACE
        GIT_ADDRESS=https://github.com/s-trinh/visp.git

        git clone -b feat_cnpy_big_endian_support --depth 1 ${GIT_ADDRESS} ${HOME}/visp
        cd ${HOME}/visp
        mkdir build && cd build

        cmake .. -DBUILD_APPS=OFF -DBUILD_DEMOS=OFF -DBUILD_EXAMPLES=OFF -DBUILD_TESTS=OFF -DBUILD_TUTORIALS=OFF -DBUILD_JAVA=OFF \
                 -DBUILD_MODULE_visp_java=OFF -DBUILD_MODULE_visp_java_binding=OFF
        cat ViSP-third-party.txt
        sudo make -j$(nproc) install

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release

    - name: Compile
      working-directory: build
      run: |
        make -j$(nproc)

    - name: Run
      working-directory: build
      run: |
        printf '\n\n===ViSP-images data with cnpy===\n'
        printf '\n\n**npz/cnpy/visp_npz_test_data_cnpy_LE.npz**\n'
        ./print_npz_simple -i visp_npz_test_data_cnpy_LE.npz

        printf '\n\n**npz/cnpy/visp_npz_test_data_cnpy_BE.npz**\n'
        ./print_npz_simple -i visp_npz_test_data_cnpy_BE.npz

        printf '\n\n**npz/numpy/visp_npz_test_data_numpy_LE.npz**\n'
        ./print_npz_simple -i visp_npz_test_data_numpy_LE.npz

        printf '\n\n**npz/numpy/visp_npz_test_data_numpy_BE.npz**\n'
        ./print_npz_simple -i visp_npz_test_data_numpy_BE.npz


        printf '\n\n===ViSP-images data with NumPy===\n'
        printf '\n\n**npz/cnpy/visp_npz_test_data_cnpy_LE.npz**\n'
        python print_npz.py -i visp_npz_test_data_cnpy_LE.npz

        printf '\n\n**npz/cnpy/visp_npz_test_data_cnpy_BE.npz**\n'
        python print_npz.py -i visp_npz_test_data_cnpy_BE.npz

        printf '\n\n**npz/numpy/visp_npz_test_data_numpy_LE.npz**\n'
        python print_npz.py -i visp_npz_test_data_numpy_LE.npz

        printf '\n\n**npz/numpy/visp_npz_test_data_numpy_BE.npz**\n'
        python print_npz.py -i visp_npz_test_data_numpy_BE.npz
