name: Ubuntu-dep-src

# https://www.jeffgeerling.com/blog/2020/running-github-actions-workflow-on-schedule-and-other-events
on:
  pull_request:
    types: [opened, reopened, synchronize]
  schedule:
    - cron: '0 2 * * SUN'

# https://stackoverflow.com/questions/66335225/how-to-cancel-previous-runs-in-the-pr-when-you-push-new-commitsupdate-the-curre#comment133398800_72408109
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

env:
  # Function to get the most recent tag of a remote repository without having to clone it, excluding tag with 'pr' as in Pre Release
  FUNCTION_GET_LATEST: 'git -c "versionsort.suffix=-" ls-remote --exit-code --refs --sort="version:refname" --tags ${GIT_ADDRESS} "*.*.*" | cut --delimiter="/" --fields=3 | grep -v -e pr | tail --lines=1'

jobs:
  check_skip_flags:
    name: Check skip flags
    runs-on: ubuntu-latest
    outputs:
      head-commit-message: ${{ steps.get_head_commit_message.outputs.headCommitMsg }}
    steps:
      - name: Get repo
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Print head git commit message
        id: get_head_commit_message
        run: echo "headCommitMsg=$(git show -s --format=%s)" >> $GITHUB_OUTPUT

  build:
    name: Build on ubuntu-dep-src
    runs-on: ${{ matrix.os }}
    needs: check_skip_flags
    if: >-
      ${{
        (!contains(needs.check_skip_flags.outputs.head-commit-message, '[SKIP ALL]') &&
        !contains(needs.check_skip_flags.outputs.head-commit-message, '[SKIP UBUNTU-DEP-SRC]')) ||
        contains(needs.check_skip_flags.outputs.head-commit-message, '[ENABLE UBUNTU-DEP-SRC]')
      }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-latest]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2.19
      with:
        key: ${{ github.job }}-${{ matrix.os }}
        verbose: 2

    - name: Print GitHub variables
      run: |
        echo "github.job: ${{ github.job }}"
        echo "github.workflow: ${{ github.workflow }}"
        echo "github.job-matrix.os: ${{ github.job }}-${{ matrix.os }}"
        echo "github.workflow-matrix.os: ${{ github.workflow }}-${{ matrix.os }}"
        echo "github.ref: ${{ github.ref }}"
        echo "github.event.head_commit: ${{ github.event.head_commit }}"
        echo "github.event.head_commit.message: ${{ github.event.head_commit.message }}"
        echo "github.event.workflow_run.head_commit.message: ${{ github.event.workflow_run.head_commit.message }}"

    - name: Print system information
      run: lscpu

    - name: Print OS information
      run: lsb_release -a

    - name: Install common dependencies for ubuntu
      run: |
        sudo apt-get update
        sudo apt-get install -y libx11-dev libdc1394-dev libv4l-dev gfortran liblapack-dev libeigen3-dev
        sudo apt-get install -y libssl-dev libusb-1.0-0-dev pkg-config libgtk-3-dev libglfw3-dev libgl1-mesa-dev libglu1-mesa-dev
        sudo apt-get install -y mesa-common-dev mesa-utils freeglut3-dev libflann-dev libboost-all-dev
        sudo apt-get install -y nlohmann-json3-dev libcjson-dev python3-numpy ccache

    - name: Install Ogre dependencies
      run: |
        sudo apt-get install -y libgles2-mesa-dev libvulkan-dev glslang-dev libxrandr-dev  libxaw7-dev libx11-dev libzzip-dev libsdl2-dev

    - name: Build Ogre from source
      run: |
        pwd
        GIT_ADDRESS="https://github.com/OGRECave/ogre"
        LATEST_TAG=`eval ${FUNCTION_GET_LATEST}`
        echo "Newest tag is ${LATEST_TAG}"
        git clone --depth 1 --branch ${LATEST_TAG} ${GIT_ADDRESS} ${HOME}/ogre
        cd ${HOME}/ogre
        mkdir build && cd build && mkdir install
        cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=$(pwd)/install -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
        make -j$(nproc) install
        echo "OGRE_DIR=$(pwd)/install" >> $GITHUB_ENV
        echo $OGRE_DIR

    - name: Build OpenBLAS from source
      run: |
        pwd
        echo $GITHUB_WORKSPACE
        GIT_ADDRESS=https://github.com/xianyi/OpenBLAS.git
        LATEST_TAG=`eval ${FUNCTION_GET_LATEST}`
        echo "Newest tag is ${LATEST_TAG}"
        git clone --depth 1 --branch ${LATEST_TAG} ${GIT_ADDRESS} ${HOME}/OpenBLAS
        cd ${HOME}/OpenBLAS
        mkdir install
        make -j$(nproc)
        make -j$(nproc) install PREFIX=$(pwd)/install
        echo "OpenBLAS_HOME=$(pwd)/install" >> $GITHUB_ENV
        echo $OpenBLAS_HOME

    - name: Build VTK from source
      # We set GIT_CLONE_PROTECTION_ACTIVE=false to avoid the issue described in
      # https://github.com/git-lfs/git-lfs/issues/5749
      run: |
        pwd
        echo "GIT_CLONE_PROTECTION_ACTIVE=false" >> $GITHUB_ENV
        export GIT_CLONE_PROTECTION_ACTIVE=false
        GIT_ADDRESS="https://github.com/Kitware/VTK.git"
        LATEST_TAG=`eval ${FUNCTION_GET_LATEST}`
        echo "Newest tag is ${LATEST_TAG}"
        git clone --recursive --depth 1 --branch ${LATEST_TAG} ${GIT_ADDRESS}  ${HOME}/VTK
        cd ${HOME}/VTK
        mkdir build && cd build && mkdir install
        cmake .. -DVTK_ANDROID_BUILD=OFF -DVTK_BUILD_DOCUMENTATION=OFF -DVTK_BUILD_EXAMPLES=OFF -DVTK_BUILD_EXAMPLES=OFF -DCMAKE_BUILD_TYPE=Release \
          -DVTK_GROUP_ENABLE_Imaging=DONT_WANT -DVTK_GROUP_ENABLE_MPI=DONT_WANT -DVTK_GROUP_ENABLE_Web=DONT_WANT -DCMAKE_INSTALL_PREFIX=$(pwd)/install \
          -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
        make -j$(nproc) install
        echo "VTK_DIR=$(pwd)/install" >> $GITHUB_ENV
        echo $VTK_DIR

    - name: Build OpenCV from source
      run: |
        pwd
        GIT_ADDRESS="https://github.com/opencv/opencv.git"
        LATEST_TAG=`eval ${FUNCTION_GET_LATEST}`
        echo "Newest tag is ${LATEST_TAG}"
        git clone --depth 1 --branch ${LATEST_TAG} ${GIT_ADDRESS} ${HOME}/opencv
        cd ${HOME}/opencv
        mkdir build && cd build && mkdir install
        cmake .. -DBUILD_EXAMPLES=OFF -DBUILD_PERF_TESTS=OFF -DBUILD_TESTS=OFF -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=$(pwd)/install \
            -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
        make -j$(nproc) install
        echo "OpenCV_DIR=$(pwd)/install" >> $GITHUB_ENV
        echo $OpenCV_DIR

    - name: Build librealsense2 from source
      run: |
        pwd
        GIT_ADDRESS="https://github.com/IntelRealSense/librealsense.git"
        LATEST_TAG=`eval ${FUNCTION_GET_LATEST}`
        echo "Newest tag is ${LATEST_TAG}"
        git clone --depth 1 --branch ${LATEST_TAG} ${GIT_ADDRESS} ${HOME}/librealsense
        cd ${HOME}/librealsense
        mkdir build && cd build && mkdir install
        cmake .. -DBUILD_EXAMPLES=OFF -DBUILD_GRAPHICAL_EXAMPLES=OFF -DBUILD_TOOLS=OFF -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=$(pwd)/install \
            -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
        make -j$(nproc) install
        echo "REALSENSE2_DIR=$(pwd)/install" >> $GITHUB_ENV
        echo $REALSENSE2_DIR

    - name: Build PCL from source
      run: |
        pwd
        GIT_ADDRESS="https://github.com/PointCloudLibrary/pcl.git"
        LATEST_TAG=`eval ${FUNCTION_GET_LATEST}`
        echo "Newest tag is ${LATEST_TAG}"
        git clone --depth 1 --branch ${LATEST_TAG} ${GIT_ADDRESS} ${HOME}/pcl
        cd ${HOME}/pcl
        mkdir build && cd build && mkdir install
        cmake .. -DBUILD_tools=OFF -DBUILD_global_tests=OFF -DPCL_DISABLE_GPU_TESTS=ON -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=$(pwd)/install \
            -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_FLAGS=-mno-avx512f -DCMAKE_C_FLAGS=-mno-avx512f
        make -j$(nproc) install
        echo "PCL_DIR=$(pwd)/install" >> $GITHUB_ENV
        echo $PCL_DIR

    - name: Build ViSP from source
      run: |
        pwd
        echo $GITHUB_WORKSPACE
        GIT_ADDRESS=https://github.com/s-trinh/visp.git

        git clone -b feat_cnpy_big_endian_support --depth 1 ${GIT_ADDRESS} ${HOME}/visp
        cd ${HOME}/visp
        mkdir build && cd build

        cmake .. -DBUILD_APPS=OFF -DBUILD_DEMOS=OFF -DBUILD_EXAMPLES=OFF -DBUILD_TESTS=OFF -DBUILD_TUTORIALS=OFF -DBUILD_JAVA=OFF \
                 -DBUILD_MODULE_visp_java=OFF -DBUILD_MODULE_visp_java_binding=OFF
        cat ViSP-third-party.txt
        sudo make -j$(nproc) install

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release

    - name: Compile
      working-directory: build
      run: |
        make -j$(nproc)

    - name: Run
      working-directory: build
      run: |
        printf '\n\n===ViSP-images data with cnpy===\n'
        printf '\n\n**npz/cnpy/visp_npz_test_data_cnpy_LE.npz**\n'
        ./print_npz_simple -i visp_npz_test_data_cnpy_LE.npz

        printf '\n\n**npz/cnpy/visp_npz_test_data_cnpy_BE.npz**\n'
        ./print_npz_simple -i visp_npz_test_data_cnpy_BE.npz

        printf '\n\n**npz/numpy/visp_npz_test_data_numpy_LE.npz**\n'
        ./print_npz_simple -i visp_npz_test_data_numpy_LE.npz

        printf '\n\n**npz/numpy/visp_npz_test_data_numpy_BE.npz**\n'
        ./print_npz_simple -i visp_npz_test_data_numpy_BE.npz


        printf '\n\n===ViSP-images data with NumPy===\n'
        printf '\n\n**npz/cnpy/visp_npz_test_data_cnpy_LE.npz**\n'
        python print_npz.py -i visp_npz_test_data_cnpy_LE.npz

        printf '\n\n**npz/cnpy/visp_npz_test_data_cnpy_BE.npz**\n'
        python print_npz.py -i visp_npz_test_data_cnpy_BE.npz

        printf '\n\n**npz/numpy/visp_npz_test_data_numpy_LE.npz**\n'
        python print_npz.py -i visp_npz_test_data_numpy_LE.npz

        printf '\n\n**npz/numpy/visp_npz_test_data_numpy_BE.npz**\n'
        python print_npz.py -i visp_npz_test_data_numpy_BE.npz
